%%-*- mode: erlang -*-

{require_otp_vsn, "R16"}.
{cover_enabled, false}.
{erl_opts, [debug_info, fail_on_warning]}.
{eunit_opts, [verbose]}.

{erl_opts, [
        warnings_as_errors,
        {parse_transform, lager_transform},
  {src_dirs, ["./src"]}
]}.

{deps, [
        {meck, "0.8.2", {git, "git://github.com/basho/meck.git", {tag, "0.8.2"}}},
        {eper, ".*", {git, "git://github.com/basho/eper.git", {tag, "0.78"}}},
        {lager, "2.0.3", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
        {riak_dt, ".*", {git, "git://github.com/basho/riak_dt.git", {tag, "2.0.0beta2"}}}
       ]}.

%{plugins, [rebar_lock_deps_plugin]}.
